<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ebusiness.mapper.StreamingInfoMapper">

    <select id="getSteamingInfo" resultType="com.example.ebusiness.entity.StreamingInfo">
        select * from streaming_info
    </select>
</mapper>
