<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ebusiness.mapper.UserActMapper">


    <select id="UserTypeCount" resultType="com.example.ebusiness.controller.domain.User">
        select act_date actDate,act_type actType,count(act_date) counts from user_act where user = #{user} group by actDate,actType
    </select>

    <select id="TypeCount" resultType="com.example.ebusiness.entity.UserAct">
        select * from user_act  where user =#{user}
    </select>
    <select id="skuByCounts" resultType="com.example.ebusiness.controller.domain.skuVo">
        SELECT sku,count(sku) counts from user_act WHERE user = #{user} and act_type = #{actType}  GROUP BY sku
    </select>
</mapper>
