<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ebusiness.mapper.UserIdentityMapper">



    <select id="getLossCount" resultType="Long">
       select count(*) from user_identity where is_loss = 1;
    </select>


    <select id="getBackCount" resultType="Long">
        select count(*) from user_identity where is_back = 1;
    </select>


    <select id="getCount" resultType="Long">
        select count(*) from user_identity;
    </select>




</mapper>
